@using HtmlTags.AspNet.Mvc
@using HtmlTags.AspNet.Mvc.Foundation
@model MvcWebsite.Controllers.TestViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h2>Forms</h2>

        @using (Html.BeginForm("Index"))
        {
            @Html.FormBlock(m => m.HelloWorld)

            @Html.FormBlock(m => m.SomeText)
            @Html.FormBlock(m => m.SomeTextArea)
            <input type="submit" />
        }
        <h3>Alerts</h3>
        @Html.SuccessAlert("test")
        @Html.SuccessAlert(new List<string> { "Test 1", "Test 2" }).BorderRadius()

        @Html.WarningAlert("test")
        @Html.WarningAlert(new List<string> { "Test 1", "Test 2" }).BorderRounded()

        @Html.ErrorAlert("test")
        @Html.ErrorAlert(new List<string> { "Test 1", "Test 2" })

        @Html.SecondaryAlert("test")
        @Html.SecondaryAlert(new List<string> { "Test 1", "Test 2" })

        @Html.InfoAlert("test")
        @Html.InfoAlert(new List<string> { "Test 1", "Test 2" })
    </div>
</body>
</html>